@font-face {
    font-family: 'Heebo';
    src: url('fonts/Heebo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*---------------------------------- HEADER ----------------------------------*/ 
/* Ensures dropdown items are displayed vertically */
.dropdown-menu {
    display: none;
    position: absolute; /* Ensure it stays within the containing element */
    left: 0;
    top: 100%;
}

.dropdown-item {
    display: block; /* Ensure each item is displayed as a block element */
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

.nav-item.dropdown:hover > .dropdown-menu,
.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.header {
    position: relative;
    padding: 0;
    margin-top: 10px;
    border-bottom: 10px solid transparent;
    font-family: 'EB Garamond', serif;
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensure it stays above other content */
    background-color: #002060; /* Added background color for clarity */
    margin: 0; /* Ensure there's no margin */
}

.header::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 200%;
    height: 10px; /* Adjust height for the desired thickness of the border */
    background-color: #00D6E3;
    background-size: 100% 100%;
    box-shadow:
      0 0 0 3px rgba(0, 0, 0, 0.2), /* First layer */
      0 0 0 6px rgba(255, 255, 255, 0.5); /* Second layer */
}

.logo {
    position: absolute;
    top: 5px;
    left: 20px;
    z-index: 1100; /* Ensure the logo stays above other content */
}

.header-title {
    font-size: 48px;
    color: white;
    text-align: center;
    margin: 0;
    padding-top: 15px; /* Add margin below the logo */
    margin-bottom: -18px;
    font-family: 'EB Garamond', serif;
    font-weight: bold;
}


.navbar-buttons {
    display: flex;
    justify-content: center; /* Center the buttons */
    margin: 0;
    padding: 0;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-top: 10px; /* Add margin above the buttons */
    margin-bottom: 0px; /* Add margin below the buttons */
    margin-left: 150px;
}

body {
    margin: 0;
    padding: 0;
    color: white;
    background-color: black;
}

body, html {
    overflow-x: hidden; /* Prevent horizontal overflow */
}

.primary {
    min-width: 15vw; /* Adjust width as needed */
    max-width: 75vw; /* Example: restrict maximum width */
    width: 60vw;
    min-height: 81.35vh;
    padding-left: 20px; /* Maintain left padding */
    padding-right: 20px; /* Maintain right padding */
    padding-top: 20px;
    box-sizing: border-box;
}

.main-content {
    padding-left: 20px; /* Adjust padding to maintain readability */
    position: relative;
    font-family: 'Heebo', EB Garamond, serif;
    overflow-x: hidden;
}

h1, h2, h3 {
    font-family: 'EB Garamond', serif;
    font-weight: normal;
}

.main-content a {
    color: #00d6e3; /* Change this to your desired color */
    text-decoration: none; /* Optional: Removes underline from links */
}

.main-content a:hover {
    color: ##02eefa;
    text-decoration: underline; /* Optional: Add underline on hover */
}

/*---------------------------------- Online Status Container ----------------------------------*/      
.analyst-status-container {
    flex: 2;
    width: 100%; /* Adjust width as needed */
    max-width: 20.5vw;
    padding: 10px;
    background-color: #191919;
    border-radius: 10px;
    margin-right: 20px;
    float: left;
    height: 80.5vh; /* Full height */
    overflow-y: auto; /* Allow scrolling if necessary */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
}

.analyst-status-container h2 {
    text-align: center;
    color: white;
}

.analyst-status-list {
    list-style: none;
    width: 100%;
    max-width: 150px;
    padding: 10px;
}

#analyst-status-list {
    list-style: none;
    width: 100%;
    max-width: 150px;
    padding: 10px;
}

.analyst-status-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.analyst-status-item img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.analyst-status-item .status-icon {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: 10px;
}

.online {
    background-color: green;
    animation: blink 1s infinite; /* Add blinking animation for online */
}

.offline {
    background-color: red;
}

/* Blinking animation */
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}
/*---------------------------------- RSS Feeds ----------------------------------*/      
.container {
  display: flex;
  flex: 8;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px; /* Align to the top and center horizontally */
  padding: 20px;
  box-sizing: border-box;
}

.feed-container {
  flex: 4;
  margin-right: 20px;
  background-color: #191919;
  border-radius: 8px;
  border: 2mm ridge rgba(25, 25, 25, .6);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-height: 80.5vh;
  min-width: 50vw;
  max-width: 800px;
  overflow-y: auto;
  padding: 35px 20px 20px 20px;
  position: relative;
}

.feed-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border: 2px solid #00d3e6;
    border-radius: 10px;
    background-color: #333;
}

.feed-item.fade-in {
  opacity: 1; /* Fade in */
  transform: translateY(0); /* Move back to original position */
}

.feed-content {
    flex: 1;
    padding-left: 20px;
}

.feed-content h2 {
    padding-top: 5px;
}

.feed-content a {
    font-size: 12px;
}

.feed-image {
    float: left; /* Float the image to the left of the description */
    height: 200px;
    border: 5px solid black;
    border-radius: 15px;
    margin-right: 15px; /* Add space between the image and the description */
    margin-bottom: 10px; /* Add space below the image */
}


.analyst-overlay {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  padding: 5px 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 12px;
  display: flex;
  align-items: center; /* Ensures the text and image are aligned */
}

.analyst-overlay img {
  border-radius: 50%; /* Circular image */
}

.credibility-container {
  display: flex;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  justify-content: space-between; /* Source and Info reliability on two halves */
  background-color: #191919;
}

.credibility-container a {
  color: black !important;
  font-size: 16px !important;
  font-weight: bold;
  text-decoration: none;
}

.info-reliability,
.source-reliability {
  flex: 1;
  text-align: center;
  padding: 3px;
  color: black;
  font-weight: bold;
}

.info-reliability {
  border-top-right-radius: 8px;
}

.source-reliability {
  border-top-left-radius: 8px;
}

/* Specific link selectors (to ensure override if necessary) */
.info-reliability a,
.source-reliability a {
  color: black !important;
  font-size: 16px !important;;
  font-weight: bold;
  text-decoration: none;
}

.info-reliability a:hover,
.source-reliability a:hover {
  color: #323E3E !important;
  text-decoration: underline;
}

.feed-item a:hover {
  color: #08acbe;
}

.analyst-container {
  width: 115px;
  padding-right: 5px;
  display: flex;
  padding-right: 5px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #002060; /* You can adjust the background color here */
  padding: 10px;
  border-bottom-left-radius: 8px;
}

.analyst-container img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 5px solid white;
}

.analyst-container p {
  margin: 5px 0;
  color: white;
  font-size: 14px;
}

.feed-container h1 {
  text-align: center;
  color: white;
  text-decoration: underline;
}

.feed-item h2 {
  margin: 0 0 10px;
  font-size: 19px;
  font-weight: bold;
}

.feed-item a {
  text-decoration: none;
  color: #00D6E3;
  font-size: 12px;
  font-weight: bold;
}

.feed-item a:hover {
  color: #08acbe;
}

.feed-item h2 a {
  margin: 0 0 10px;
  text-decoration: none;
  color: #00D6E3;
  font-size: 19px;
}

.feed-item p {
  color: #fff;
  font-size: 14px;
  margin-bottom: 8px;
}

.feed-item div {
  color: #fff;
  font-size: 14px;
}

.feed-item ul li a {
  font-size: 14px;
}

.filter-container {
  flex: 1;
  min-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #191919;
  border-radius: 8px;
  border: 2mm ridge rgba(25, 25, 25, .6);
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.filter-bar {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.filter-bar select,
.filter-bar input {
  background-color: #EDF2F2;
  color: #191919;
  border: none;
  border-radius: 5px;
  padding: 5px;
}

.filter-bar button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #fff;
  color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.filter-bar button:hover {
  background-color: #0056b3;
}

.filter-bar button.active {
  background-color: #0056b3;
}

/* CSS specifically for drop-down options */
.filter-bar option {
  background-color: #00D6E3;
  color: white;
}

.filter-bar label {
  color: white;
  margin-bottom: -8px;
}

.btn {
  margin: 5px 0;
}

#sourceFilterContainer {
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #002060;
  color: #00D6E3;
}

.volume-slider-container {
  margin-top: -13px;
  margin-bottom: -12px;
  background-color: #00d3e6;
  border-radius: 8px;
  border: 2mm ridge rgba(64, 64, 64, .6);
  color: #191919;
  text-align: center;
  font-weight: bold;
}

#volumeSlider {
  margin-top: -15px;
  width: 100%;
}

.connection-container a {
  color: #fff;
}

/* Background Colors */
.bg-credible {
  background-color: #5bc637;
}

.bg-dubious {
  background-color: #e2e20a;
}

.bg-requires-verification {
  background-color: #b0360d;
}

/* Reliability Symbols */
.credible::before {
  content: "✅"; /* Checkmark */
}

.dubious::before {
  content: "⚠️"; /* Caution Sign */
}

.requires-verification::before {
  content: "🛑"; /* Stop Sign */
}

.legend-container {
  display: flex;
  flex-direction: column;
  margin-bottom: -5px;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 5px;
}

.topic-filter {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  background-color: #404040;
  border-radius: 8px;
  border: 2mm ridge rgba(0, 214, 227, .6);
}

.topic-filter label {
  color: white;
  margin-left: 5px;
  margin-bottom: -8px;
}

.color-box {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border: 1px solid #00d6e3;
}
.credibility-filter {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  background-color: #404040;
  border-radius: 8px;
  border: 2mm ridge rgba(0, 214, 227, .6);
}

.credibility-filter label {
  color: white;
  margin-left: 5px;
  margin-bottom: -8px;
}

.filter-container h2 {
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
  font-size: 18px;
}

.filter-container p {
  text-align: center;
  font-size: 12px;
}
.feed-count-overlay {
  position: absolute;
  top: 10px;
  left: 20px;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  color: #ffffff;
  padding: 5px 10px;
  margin-left: -10px;
  border-radius: 5px;
  font-size: 12px;
  z-index: 100; /* Ensures the counter is on top */
}
.source-count {
  position: absolute;
  top: 10px;
  left: 20px;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  color: #ffffff;
  padding: 5px 10px;
  margin-left: -10px;
  border-radius: 5px;
  font-size: 12px;
  z-index: 100; /* Ensures the counter is on top */
}
/* CSS for blurring images and reveal button */
.spoiler-image {
  filter: blur(15px); /* Apply blur effect */
  transition: filter 0.3s ease; /* Smooth transition when revealed */
  cursor: pointer;
}

.reveal-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.image-container {
  position: relative; /* Position container relative to position reveal button correctly */
  display: inline-block; /* Make sure the button is over the image */
}

/*---------------------------------- BACKGROUND IMAGES ----------------------------------*/
.world-map-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 5570px;
    height: 1492px;
    background-image: url('icons/IntranetBackground_WorldMap2.png'), url('icons/IntranetBackground_WorldMap2.png');
    background-size: 50% 100%;
    background-repeat: repeat-x;
    z-index: -4; /* Behind everything else */
    animation: worldMapScroll 360s infinite linear; /* Animation for world map */
}

.nightlights_background {
    position: fixed;
    top: 0;
    left: 0;
    width: 5570px;
    height: 1492px;
    background-image: url('icons/IntranetBackground_WorldMapLights.png'), url('icons/IntranetBackground_WorldMapLights.png');
    background-size: 50% 100%;
    background-repeat: repeat-x;
    z-index: -1; /* Behind everything else */
    animation: worldMapLightsScroll 360s infinite linear; /* Animation for world map */
}
  
.day-and-night-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 5570px;
    height: 1492px;
    background-image: url('icons/IntranetBackground_DayAndNight.png'), url('icons/IntranetBackground_DayAndNight.png');
    background-size: 50% 100%;
    background-repeat: repeat-x;
    z-index: -2; /* Behind everything else */
    animation: DayandNightScroll 70s infinite linear; /* Animation for world map */
}

.content {
    position: relative;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

.content::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 3660px;
    height: 1492px;
    background-image: url('icons/IntranetBackground_CloudCover.png'), url('icons/IntranetBackground_CloudCover.png');
    background-size: 50% 100%;
    background-repeat: repeat-x;
    z-index: -3; /* Behind content */
    opacity: 0.5; /* Adjust opacity for layer visibility */
    animation: parallaxScroll 180s infinite linear; /* Adjust animation durations */
}

@keyframes parallaxScroll {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); } /* Adjust translateY percentage for desired effect */
}

@keyframes worldMapScroll {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); } /* Adjust background-position percentage for desired effect */
}

@keyframes DayandNightScroll {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); } /* Adjust background-position percentage for desired effect */
}

@keyframes worldMapLightsScroll {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}
/*---------------------------------- BUTTONS ----------------------------------*/
.nav-item {
    margin-bottom: 0px; /* Adjust the value to set the desired space */
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 0px;
}

.animated-button {
    position: relative;
    display: inline-block;
    padding: 12px 24px;
    border: none;
    font-size: 16px;
    background-color: #191919;
    border-radius: 100px;
    font-weight: 600;
    color: #ffffff40;
    box-shadow: 0 0 0 2px #ffffff20;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    text-decoration: none; /* Ensure it behaves like a link */
}

.animated-button span:last-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: #00D6E3;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.320, 1);
}

.animated-button span:first-child {
    position: relative;
    z-index: 1;
}

.animated-button:hover {
    box-shadow: 0 0 0 5px #00D6E360;
    color: #ffffff;
    background-color: #778a8f;
}

.animated-button:active {
    transform: scale(0.95); /* Correct the typo from 'scale' to 'transform' */
}

.animated-button:hover span:last-child {
    width: 150px;
    height: 150px;
    opacity: 1;
}

/*---------------------------------- FOOTER ----------------------------------*/      
footer {
    border-top: 5px solid #333;
    padding-top: 10px;
    height: 6.9vh;
    overflow-y: hidden;
}
.dropdown-menu option {
    background-color: #00D6E3;
    color: white;
}

/*---------------------------------- FADE EFFECT ----------------------------------*/
.fade {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.fade.visible {
    opacity: 1;
}

.fade.fade-out {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
/*---------------------------------- MEDIA EFFECTS - HIGHEST PRIORITY ----------------------------------*/
@media (max-width: 1250px) {
    .container .analyst-status-container, .container .filter-container {
      display: none !important;
    }
}
