@font-face {
    font-family: 'Heebo';
    src: url('fonts/Heebo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*---------------------------------- HEADER ----------------------------------*/ 
/* Ensures dropdown items are displayed vertically */
.dropdown-menu {
    display: none;
    position: absolute; /* Ensure it stays within the containing element */
    left: 0;
    top: 100%;
}

.dropdown-item {
    display: block; /* Ensure each item is displayed as a block element */
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

.nav-item.dropdown:hover > .dropdown-menu,
.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.header {
    position: relative;
    padding: 0;
    margin-top: 10px;
    border-bottom: 10px solid transparent;
    font-family: 'EB Garamond', serif;
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensure it stays above other content */
    background-color: #002060; /* Added background color for clarity */
    margin: 0; /* Ensure there's no margin */
}

.header::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 200%;
    height: 10px; /* Adjust height for the desired thickness of the border */
    background-color: #00D6E3;
    background-size: 100% 100%;
    box-shadow:
      0 0 0 3px rgba(0, 0, 0, 0.2), /* First layer */
      0 0 0 6px rgba(255, 255, 255, 0.5); /* Second layer */
}

.logo {
    position: absolute;
    top: 5px;
    left: 20px;
    z-index: 1100; /* Ensure the logo stays above other content */
}

.header-title {
    font-size: 48px;
    color: white;
    text-align: center;
    margin: 0;
    padding-top: 15px; /* Add margin below the logo */
    margin-bottom: -18px;
    font-family: 'EB Garamond', serif;
    font-weight: bold;
    opacity: 0; /* Start with zero opacity */
    transition: opacity 1s ease-in-out; /* Ensure the fade effect applies */
}


.navbar-buttons {
    display: flex;
    justify-content: center; /* Center the buttons */
    margin: 0;
    padding: 0;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-top: 10px; /* Add margin above the buttons */
    margin-bottom: 0px; /* Add margin below the buttons */
    margin-left: 150px;
}

body {
    margin: 0;
    padding: 0;
    color: white;
    background-color: black;
}

body, html {
    overflow-x: hidden; /* Prevent horizontal overflow */
}

.primary {
    min-width: 15vw; /* Adjust width as needed */
    max-width: 75vw; /* Example: restrict maximum width */
    width: 60vw;
    min-height: 81.35vh;
    padding-left: 20px; /* Maintain left padding */
    padding-right: 20px; /* Maintain right padding */
    padding-top: 20px;
    box-sizing: border-box;
}

.main-content {
    padding-left: 20px; /* Adjust padding to maintain readability */
    position: relative;
    font-family: 'Heebo', EB Garamond, serif;
    overflow-x: hidden;
}

h1, h2, h3 {
    font-family: 'EB Garamond', serif;
    font-weight: normal;
}

.main-content a {
    color: #00d6e3; /* Change this to your desired color */
    text-decoration: none; /* Optional: Removes underline from links */
}

.main-content a:hover {
    color: ##02eefa;
    text-decoration: underline; /* Optional: Add underline on hover */
}

@media (max-width: 768px) {
    .primary {
        padding: 10px; /* Adjust padding for smaller screens */
    }
}

@media (max-width: 1250px) {
    #sidebar {
      display: none !important;
    }
}

/*---------------------------------- SIDEBAR ----------------------------------*/      
#sidebar {
    display: flex;
    flex: 1;
    min-height: 81.35vh;
    background: linear-gradient(to right, #193c80, rgba(64, 64, 64, 0));
    border-right: 5px solid #333;
    padding-top: 10px;
    background-color: #002060;
    color: black;
    font-family: 'EB Garamond', serif;
    flex: 0 0 350px;
    overflow: visible; /* Change overflow to visible */
}

.nav-link {
    color: black; /* Text color for the links */
    background-color: #007bff;
    padding: 10px 15px;
    border-radius: 5px;
    margin-bottom: 15px;
    text-align: center;
    display: block;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'EB Garamond', serif;
    font-weight: bold;
}

.nav-link:hover {
    background-color: #0056b3;
    text-decoration: none;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

/*---------------------------------- SIDEBAR BUTTONS APPEARANCE ----------------------------------*/      
.sidebar-button {
    width: 300px;  /* Increased width */
    height: 50px;  /* Increased height */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    margin-top: 10px;
    margin-left: 5px;
    cursor: pointer;
    border: 3px solid #00d6e3;
    background-color: #00d6e3;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.137);
}
  
.sidebar-text {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #191919;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none; /* Ensure it behaves like a link */
    transition: background-color 0.3s ease; /* Add transition for smooth color change */
}

.sidebar-arrow {
    width: 24px;  /* Adjust the width of the arrow */
    height: 24px; /* Adjust the height of the arrow */
    transform: translateX(8px);  /* Static position of the arrow */
}
  
.sidebar-arrow path {
    fill: rgb(19, 19, 19);
    transition: transform 0.3s ease; /* Add transition for smooth scaling */
}
  
.sidebar-button:hover .sidebar-text {
    background-color: #778a8f;
}
    
.sidebar-button:hover .sidebar-arrow {
    transform: translateX(6px) scale(1.3); /* Scale up by 30% on hover */
    transition: transform 0.3s ease; /* Add transition for smooth scaling */
}
  
.sidebar-button:active {
    transform: scale(0.97);
}

/*---------------------------------- SIDEBAR DROPDOWN MENU ----------------------------------*/
.sidebar-nav-item {
    position: relative; /* Ensure the nav-item is the reference for absolute positioning */
}

.sidebar-dropdown {
    display: none; /* Initially hide the dropdown */
    position: absolute;
    width: 300px;
    left: 100.5%; /* Position the dropdown to the right of the button */
    top: 10px;
    padding: 5px;
    border: 0.25px solid #191919;
    background-color: #191919;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 1200;
    overflow: visible;
    opacity: 0; /* Start with the dropdown fully transparent */
    transition: opacity 1s ease-in-out; /* Ensure the fade effect applies */
}

.sidebar-dropdown a {
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    background-color: #00d6e3;
    border-top: 2px ridge rgba(0, 214, 227, .6);
    border-left: 1mm ridge rgba(0, 170, 179, .6);
    border-right: 1mm ridge rgba(0, 170, 179, .6);
    border-bottom: 2mm ridge rgba(64, 64, 64, .6);
    text-decoration: none;
    display: block;
    font-family: 'EB Garamond', serif;
}

.sidebar-dropdown a:hover {
    background-color: #009199;
    transition: background-color 0.3s ease; /* Add transition for smooth color change */
}

.sidebar-nav-item:hover .sidebar-dropdown {
    display: block;
    opacity: 1;
}

/*---------------------------------- BACKGROUND IMAGES ----------------------------------*/
.world-map-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 5570px;
    height: 1492px;
    background-image: url('icons/IntranetBackground_WorldMap2.png'), url('icons/IntranetBackground_WorldMap2.png');
    background-size: 50% 100%;
    background-repeat: repeat-x;
    z-index: -4; /* Behind everything else */
    animation: worldMapScroll 360s infinite linear; /* Animation for world map */
}

.nightlights_background {
    position: fixed;
    top: 0;
    left: 0;
    width: 5570px;
    height: 1492px;
    background-image: url('icons/IntranetBackground_WorldMapLights.png'), url('icons/IntranetBackground_WorldMapLights.png');
    background-size: 50% 100%;
    background-repeat: repeat-x;
    z-index: -1; /* Behind everything else */
    animation: worldMapLightsScroll 360s infinite linear; /* Animation for world map */
}
  
.day-and-night-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 5570px;
    height: 1492px;
    background-image: url('icons/IntranetBackground_DayAndNight.png'), url('icons/IntranetBackground_DayAndNight.png');
    background-size: 50% 100%;
    background-repeat: repeat-x;
    z-index: -2; /* Behind everything else */
    animation: DayandNightScroll 70s infinite linear; /* Animation for world map */
}

.content {
    position: relative;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

.content::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 3660px;
    height: 1492px;
    background-image: url('icons/IntranetBackground_CloudCover.png'), url('icons/IntranetBackground_CloudCover.png');
    background-size: 50% 100%;
    background-repeat: repeat-x;
    z-index: -3; /* Behind content */
    opacity: 0.5; /* Adjust opacity for layer visibility */
    animation: parallaxScroll 180s infinite linear; /* Adjust animation durations */
}

@keyframes parallaxScroll {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); } /* Adjust translateY percentage for desired effect */
}

@keyframes worldMapScroll {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); } /* Adjust background-position percentage for desired effect */
}

@keyframes DayandNightScroll {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); } /* Adjust background-position percentage for desired effect */
}

@keyframes worldMapLightsScroll {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}

/*---------------------------------- BUTTONS ----------------------------------*/
.nav-item {
    margin-bottom: 0px; /* Adjust the value to set the desired space */
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 0px;
}

.animated-button {
    position: relative;
    display: inline-block;
    padding: 12px 24px;
    border: none;
    font-size: 16px;
    background-color: #191919;
    border-radius: 100px;
    font-weight: 600;
    color: #ffffff40;
    box-shadow: 0 0 0 2px #ffffff20;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    text-decoration: none; /* Ensure it behaves like a link */
}

.animated-button span:last-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: #00D6E3;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.320, 1);
}

.animated-button span:first-child {
    position: relative;
    z-index: 1;
}

.animated-button:hover {
    box-shadow: 0 0 0 5px #00D6E360;
    color: #ffffff;
    background-color: #778a8f;
}

.animated-button:active {
    transform: scale(0.95); /* Correct the typo from 'scale' to 'transform' */
}

.animated-button:hover span:last-child {
    width: 150px;
    height: 150px;
    opacity: 1;
}

/*---------------------------------- FOOTER ----------------------------------*/      
footer {
    border-top: 5px solid #333;
    padding-top: 10px;
    height: 6.9vh;
    overflow-y: hidden;
}
.dropdown-menu option {
    background-color: #00D6E3;
    color: white;
}

/*---------------------------------- FADE EFFECT ----------------------------------*/
.fade {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.fade.visible {
    opacity: 1;
}

.fade.fade-out {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
